
    <style>
    #footer{
        position: fixed;
        bottom: 0;
        width: 100%;
        }
        
        #copyright{
             margin-left: 30%;
            color: white;
            font-size: 11px;
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
        }
        
        #terms{
                margin-left: 20%;
                color: white;
                font-size: 11px;
                display: inline-block;
                font-family: Arial, Helvetica, sans-serif;
        }
        
        #socialmedia{
                display: inline-block;
                margin-left: 60px;
                width: 60px;
        }
    </style>
    <div id="footer">
       <div id="socialmedia"> 
       <img src="Twitter.png" alt="twitter" height="16" width="16">
       <img src="Facebook.png" alt="facebook" height="16" width="16">
       <img src="Google-Plus.png" alt="googleplus" height="16" width="16">
       </div>
       <div id="copyright">&copy; 2016 Socialanalytics.com | All Rights Reserved</div>
       <div id="terms">Terms and Conditions</div>
       
    </div>
