<html>
    <head>
    <script type="text/javascript" src="../node_modules/ejs/ejs.js"></script>
   <script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <style>
    #container
    {
         display: inline-block;
         height:30%;
         width:40%;
    }
    #postres
    {
      margin-top:70px;
    }
    </style>
    
    
    </head>
        <%- include menu.ejs %>

<br/>
    <body>

         <div style="float:right">
            <form action="logout">
            <input type="submit" id="logout" name="LogOut" value = "LogOut"/>
            </form>
        </div>
    
    <div id="container"  style="border:solid black;">
    <div style="margin-top:10px">
        <!--<input type="button" id="clickme" value="Click"/> -->

        <input type="checkbox" id="tweetapi" name="tweetapi" value="true" checked> Twitter Source <br/>
        <input type="checkbox" id="fbapi" name="fbapi" value="true"> Facebook Source <br/>
        <br/>
        Keyword: <input type='text' name='tweetreq' id="tweettext"/>
        <input type='submit' value='Start Streaming' id="startstream"/>
        <input type='button' value='Stop Streaming' id="stopstream"/>
        
    </div> 
        
        <div id="unsassigned" style="margin-top:40px">
         <input type="button" value="Assign unassigned tweets" id="unassignedtweets"/>
        </div>
    </div>
    
            <div id="postres"></div>

    </body>

</html>

    <script type = "text/javascript">
    
     $('#startstream').click(function(){
       
          $.ajax(
            {
                url: "gettweets",
                type:"post",
               data: { tweetreq: $("#tweettext").val(), tweetapi : $("#tweetapi").val(), fbapi: $("#fbapi").val()} ,
                success: function(result){
                 $("#postres").append(result + "<br/>");
        }});
          
       });
    
        $('#stopstream').click(function(){
       
          $.ajax(
            {
                url: "stopstream",
                success: function(result){
                    //alert($("#postres"));
                   $("#postres").append(result + "<br/>");
        }});
          
       });
       
       
        $('#unassignedtweets').click(function(){
       
          $.ajax(
            {
                url: "assigntweets",
                success: function(result){
                    //alert($("#postres"));
                   alert(result);
        }});
          
       });
       
     
      </script> 