<html>
    <script type="text/javascript" src="../node_modules/ejs/ejs.js"></script>
   <script type = "text/javascript" 
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <h1>Login Page</h1>
     <form action="loginaction" method="post">
        <div style="float:center">
            <table>
                <tr>
                    <td>User name: </td>
                    <td><input type="text" name="username" id="username"/></td>
                </tr>
                <tr>
                    <td>Password: </td> 
                    <td><input type="password" name="password" id="password"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" name="submitbtn" value="Login" id="submit"/></td>
            
                </tr>
            </table>
        </div>
     </form>

</html>

    <script type = "text/javascript">
       
      </script> 