
<html>
  <head>
     <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD6FFAPbvxB1-OWHX4iOI-XiCt_FpKBno&libraries=visualization">
    </script>
    <link rel="stylesheet" type="text/css" href="slick-1.6.0/slick/slick.css"/>
    <script type="text/javascript" src="slick-1.6.0/slick/slick.js"></script>

    <%- include menu.ejs %>
     <style>
     
      tr > td
    {
      padding-bottom: 0.3em;
      padding-right:0.6em;
    }
    
     #map {
       height: 70%;
       width: 100%;
       float:right;
       display:inline-block;
      }
     
      #tags{
           background: url(Green_Patch.png) no-repeat;
           height: 6%;
           position: relative;
           width: 100%;
      }
      
      #tweetflag{
         float:right; 
         display:inline-block;
      }
      
      #tagstable{
          margin-left:5%;
      }
      
       #footer{
        background-color:black;
    }
    
    .slick-slide{
        width: 125;
        margin-top: 10px;
    }
    
    .slick-prev {
    left: 100px;
    background: red; /*to notice it, is white*/
    }
    
    .slick-next {
        right: 100px;
        background: red; /*to notice it, is white*/
    }

   </style>
  </head>
    <div id="tags">
       <table id="tagstable" style='padding-top:7px'>
             <tr>
                 <td><label>Recent Keywords: </label></td>
                 <section class="slider three">
                    <% if(taglist.length > 0) { %>
                    
                        <% for(var x = 0; x < taglist.length; x++ ) { %>
               
                            <td><b><a href="#" onclick="return false;"><%=taglist[x]%></a></b></td>    
                            <td>|</td>
                        <% } %>
                        
                    <% } %>
                </section>
             </tr>
        </table>
    </div>  
   
   
    <div id="keyword" style='display: inline-block;width:35%;margin-left:35%'></div>
     <div id="tweetflag">
    </div>
   
    <div id="map"></div>
  <%- include footer.ejs%>
  </html>
   
<script>

    // $(document).ready(function(){
         
    $("#tags").on('click','a',function(e){
    
    var tagname = e.target.innerHTML;
        $.ajax(
            {
                url: "callmaps",
                data:{"tag":tagname},
                success: function(pos)
                   {
                  var visiblehtml = "<img alt='Positive tweets' width='20' height='20' src='http://maps.google.com/mapfiles/ms/icons/green-dot.png'> - Positive Tweets <img alt='Negative tweets' width='20' height='20' src='http://maps.google.com/mapfiles/ms/icons/red-dot.png'> - Negative Tweets";
                  var arr = pos;
                   initMap(arr); 
                   $("#tweetflag").html(visiblehtml);
                   $("#keyword").html("<label><b>Sentiments for keyword: "+ tagname  + " </b></label>");
                   }
          });    
             
    });
          
           var map;
        
          function initMap(dataarray) {
                      
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 3,
              center: {lat: 23.6421398, lng: 79.0239249}
            });
            
            var infowindow = new google.maps.InfoWindow({maxWidth: 200});

            for(var o in dataarray)
            {
            /*heatmap = new google.maps.visualization.HeatmapLayer({
              data: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
             //data: dataarray,
              map: map
            });*/
           if(dataarray[o].sentiment > 0) //Positive Sentiments
           {
               
               var  marker = new google.maps.Marker({
                    position: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
                    map: map,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                    contentString: dataarray[o].tweet
                  });
                  
                  marker.addListener('click', function() {
                       infowindow.setContent(this.contentString);
                       infowindow.open(map, this);
                       map.setCenter(this.getPosition());
                    });
           }
           else if(dataarray[o].sentiment < 0) //Negative Sentiments
           {
    
               var  marker = new google.maps.Marker({
                    position: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
                    map: map,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                    contentString: dataarray[o].tweet
                  });
                  
                  marker.addListener('click', function() {
                       infowindow.setContent(this.contentString);
                       infowindow.open(map, this);
                       map.setCenter(this.getPosition());
                    });
           }
            }
          }
          
      //  });
      
        $(".slider.three").slick({
            accessibility: true,
            adaptiveHeight: true,
            slidesToShow: 5,
            slidesToScroll: 1,
            infinite: true,
            mobileFirst: true,
            arrows: true,
            asNavFor: null,
            infinite: false,
            initialSlide: 0,
            cssEase:'ease',
            useCss:true,
            variableWidth: true,
            rows: 1,
            prevArrow: $("#prev"),
            nextArrow: $("#next"),
            responsive: [{
                breakpoint: 500,
                settings: {
                    slidesToShow: 5
                }
            }]
        });
         
    </script>
