
<html>
  <head>
     <script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
     <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCD6FFAPbvxB1-OWHX4iOI-XiCt_FpKBno&libraries=visualization">
    </script>
    
    <%- include menu.ejs %>
     <style>
     
      tr > td
    {
      padding-bottom: 0.3em;
      padding-right:0.6em;
    }
    
     #map {
       height: 79%;
       width: 85%;
       float:right;
       display:inline-block;
      }
     
      #tags{
          float:left;
           display:inline-block;
           height:100%;
      }
      
      #tweetflag{
         float:right; 
         margin-right:10%;
      }
      
       #footer{
        background-color:black;
    }
   </style>
  </head>
        
     <div id="tweetflag">
    </div>
    
    <div id="tags">
        <h2>Keywords:</h2>
        <table id="tagstable">
            <% if(taglist.length > 0) { %>
            <% for(var x = 0; x < taglist.length; x++ ) { %>
            <tr>
                <td><b><a href="#" onclick="return false;"><%=taglist[x]%></a></b></td>    
            </tr>
            <% } %>
            <% } %>
            
        </table>
    </div>
    <div id="keyword"></div>
    <div id="map"></div>
  <%- include footer.ejs%>
  </html>
   
<script>

    // $(document).ready(function(){
         
    $("#tagstable").on('click','a',function(e){
    
    var tagname = e.target.innerHTML;
        $.ajax(
            {
                url: "callmaps",
                data:{"tag":tagname},
                success: function(pos)
                   {
                  var visiblehtml = "<img alt='Positive tweets' width='20' height='20' src='http://maps.google.com/mapfiles/ms/icons/green-dot.png'> - Positive Tweets <img alt='Negative tweets' width='20' height='20' src='http://maps.google.com/mapfiles/ms/icons/red-dot.png'> - Negative Tweets";
                  var arr = pos;
                   initMap(arr); 
                   $("#tweetflag").html(visiblehtml);
                   $("#keyword").html("<h3 style='margin-left:30%'>Sentiments for keyword: "+ tagname  + " </h3>");
                   }
          });    
             
    });
          
           var map;
        
          function initMap(dataarray) {
                      
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: {lat: 23.6421398, lng: 79.0239249}
            });
            
            var infowindow = new google.maps.InfoWindow({maxWidth: 200});

            for(var o in dataarray)
            {
            /*heatmap = new google.maps.visualization.HeatmapLayer({
              data: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
             //data: dataarray,
              map: map
            });*/
           if(dataarray[o].sentiment > 0) //Positive Sentiments
           {
               
               var  marker = new google.maps.Marker({
                    position: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
                    map: map,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                    contentString: dataarray[o].tweet
                  });
                  
                  marker.addListener('click', function() {
                       infowindow.setContent(this.contentString);
                       infowindow.open(map, this);
                       map.setCenter(this.getPosition());
                    });
           }
           else if(dataarray[o].sentiment < 0) //Negative Sentiments
           {
    
               var  marker = new google.maps.Marker({
                    position: new google.maps.LatLng(dataarray[o].lat, dataarray[o].lng),
                    map: map,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                    contentString: dataarray[o].tweet
                  });
                  
                  marker.addListener('click', function() {
                       infowindow.setContent(this.contentString);
                       infowindow.open(map, this);
                       map.setCenter(this.getPosition());
                    });
           }
            }
          }
          
      //  });
         
    </script>
